{% extends 'users/base.html' %}

{% load static %}

{% block title %}
    Register
{% endblock title %}

{% block content %}
<div class="row gx-5">
    <div class="col-md-6">
        <h2>Create your account</h2>
        <form method="post" action="" >
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="username" placeholder="Enter your name" />
                <label for="username" class="form-label">Enter your username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="email" placeholder="Enter your email address" />
                <label for="email" class="form-label">Enter your email address</label>
            </div>
            
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="phone" placeholder="Enter your name" />
                <label for="phone" class="form-label">Enter your phone number</label>
            </div>
            <div class="form-floating mb-3">
                <textarea name="address" class="form-control" id="" placeholder="Enter your address"></textarea>
                <label for="address" class="form-label">Enter your address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password1" placeholder="Enter your password" />
                <label for="password1" class="form-label">Enter your password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password2"
                    placeholder="Confirm your password" />
                <label for="password2" class="form-label">Confirm your password</label>
            </div>
            <div class="mb-3">
                
                <input type="submit" class="btn btn-primary" value="Sign up" />
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <div class="row align-items-center">
            <div class="col-12">
                <img src="{% static 'img/registration.svg' %}" alt="Registration Page" class="img-fluid" />
            </div>
            <div class="col-12" id="link-container">
                <a href="/login">I already have an account</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}